---
layout: page
title: Schleuder
subtitle: A gpg-enabled mailinglist with remailing-capabilities.
---

%h3 Stable: version 2
%p
  For the stable version of Schleuder see
  = succeed "." do
    %a{href: 'https://schleuder2.nadir.org/'} schleuder2.nadir.org

%h3 Development: version 3
%p
  We're looking for 
  %strong your help!
  You could give us a hand by:
  %ul
    %li
      testing Schleuder (and maybe Webschleuder) from a user-, list-admin-, or system-admin-perspective (we can provide you with test-lists, just
      = succeed ")." do
        %a{href: 'mailto:schleuder2.nadir.org'} ask
    %li reviewing the code.
    %li suggesting improvements to Schleuder (or Webschleuder).
    %li suggesting improvements for documentation and website.
    %li create and maintain packages for your OS (Debian is covered).

%p
  To 
  %strong
    install
  version 3 see
  = succeed "." do
    %a{href: 'https://git.codecoop.org/schleuder/schleuder3/blob/master/README.md'} the README

%p
  To 
  %strong participate
  in the development use the
  = succeed '.' do
    %a{href: 'https://git.codecoop.org/schleuder/schleuder3/milestones/4'} issue tracker
  (If you want an account for codecoop.org, 
  = succeed ').' do
    %a{href: 'mailto:schleuder2.nadir.org'} contact us


%p
  To 
  %strong contact
  us send an email to
  = succeed '.' do
    %a{href: 'mailto:schleuder2.nadir.org'} schleuder2@nadir.org

